@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-onest: "Onest";
  --font-inter: "Inter";
  --text-main-15: 15px;
  --text-main-40: 40px;
  --color-primary: #031343;
  --color-brand-primary: #f2f2f3;
  --color-brand-gray: #7c7c7c;
  --color-brand-greed: #fb4848;
  --color-brand-yellow: #fff4c3;
  --color-brand-blue: #258ffb;
  --color-brand-blue-200: #b6c1dd;
  --color-brand-blue-300: #009eff;
  --color-brand-red: #f53535;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-onest overflow-x-hidden bg-brand-primary text-primary !leading-none;
  }
  button {
    @apply cursor-pointer;
  }

  .text-xs,
  .text-sm,
  .text-base,
  .text-lg,
  .text-xl,
  .text-2xl,
  .text-3xl,
  .text-4xl,
  .text-5xl,
  .text-6xl,
  .text-7xl,
  .text-8xl,
  .text-9xl {
    @apply leading-none;
  }
}

@utility container-base {
  @apply w-full max-w-329 mx-auto px-4.5;
}

@utility hover-opacity-75 {
  @apply transition duration-200 hover:opacity-75;
}

@utility hover-primary-75 {
  @apply bg-primary transition duration-200 hover:bg-primary/75;
}
@utility hover-blue-75 {
  @apply bg-brand-blue transition duration-200 hover:bg-brand-blue/75;
}

@utility hover-border-blue {
  @apply border border-transparent transition duration-200 hover:border-brand-blue hover:text-brand-blue;
}

@utility main-gradient-blue {
  background: linear-gradient(100.68deg, #258ffb 1.99%, #117be7 94.99%);
}


/* Scroll styles */
.no-scroll::-webkit-scrollbar {
  @apply h-0 w-0;
}
